/* header.css */

.nav-link {
  position: relative;
  transition: color 0.2s ease;
  display: inline-block; /* fix underline alignment */
}


.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
background: linear-gradient(to right, transparent, #fda85c, transparent);
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.active-link {
  color: #000;
}

.active-link::after {
  transform: translateX(-50%) scaleX(1);
}
