<!-- Listings -->

<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 py-12 lg:py-24 mx-auto mt-12">

  <!-- LOADING STATE -->
  @if (loading) {
    <div class="mt-32 w-full text-center py-10 text-4xl font-medium text-gray-600">
      Hold'up We're Cooking...
    </div>
  }

  <!-- Product Grid -->
  @if (!loading) {
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-12" data-aos="fade-up">

      @for (p of product; track p._id) {
        <div class="group flex flex-col">
          <div class="relative">
            
            <!-- IMAGE -->
            <div class="aspect-4/4 overflow-hidden rounded-2xl">
              <img
                class="size-full object-cover rounded-2xl"
                src="{{ p.product_img }}"
                alt="{{ p.product_title }}"
              />
            </div>

            <!-- TITLE + PRICE -->
            <div class="pt-4">
              <h3 class="font-medium md:text-lg text-black dark:text-white">
                {{ p.product_title }}
              </h3>

              <p class="mt-2 font-semibold text-black dark:text-white">
                $ {{ p.product_price }}
              </p>
            </div>

            <a
              class="after:absolute after:inset-0 after:z-1"
              [routerLink]="['/product_detail', p._id]"
            ></a>
          </div>

          <!-- DESCRIPTION -->
          <div class="mb-2 mt-4 text-sm">
            @if (p.product_description) {
              <p class="text-black dark:text-white pb-3 border-b border-gray-200 dark:border-neutral-700">
                {{ p.product_description }}
              </p>
            }
          </div>

          <!-- BUTTONS -->
          <div class="mt-auto">
            <div class="flex items-center gap-3">

              <a
                class="py-2 px-3 flex-1 inline-flex justify-center items-center gap-x-2 text-sm font-medium text-nowrap rounded-xl border border-transparent bg-orange-600 text-white hover:bg-orange-500 focus:bg-yellow-500 transition"
                routerLink="#"
              >
                Buy now
              </a>

              <a
                class="py-2 px-3 flex-1 inline-flex justify-center items-center gap-x-2 text-sm font-medium text-nowrap rounded-xl border border-orange-600 text-orange-600 hover:bg-orange-50 transition"
                [routerLink]="['/product_detail', p._id]"
              >
                View Detailed
              </a>

            </div>
          </div>
        </div>
      }

    </div>
  }

</div>
